<div class="col-md-8 offset-md-3">
    <h3 style="text-align: center;font-family: 'Times New Roman';font-size: x-large;color: #007bff">Ajout livre</h3>

    <form (ngSubmit)="onSubmit()">


      <div class="form-group">
        <label>numSerie</label>
        <input type="number" class="form-control" id="numSerie"
               [(ngModel)]="l.numSerie" name="numSerie">
      </div>
      <div class="form-group">
        <label>Nom</label>
        <input type="text" class="form-control" id="nom"
               [(ngModel)]="l.nom" name="nom">
      </div>
      <div class="form-group">
        <label>rubrique</label>
        <input type="text" class="form-control" id="rubrique"
               [(ngModel)]="l.rubrique" name="rubrique">
      </div>



      <div class="form-element">
        <button  color="primary" type="submit" class="btn btn-success" style="background-color: darkcyan">Ajouter</button>
        <button  color="primary" (click)="retour()"  class="btn btn-danger" style="background-color: #8b4043">Retour</button>
      </div>


    </form>
    </div>
