<div style="text-align:center">
    <h1 style="color: blueviolet;" > Llittérature</h1>
    <p>Dans cette catégorie, toute la littérature, française ou étrangère. Des classiques aux auteurs contemporains, le choix est large.</p></div>
    <div class="card-deck">
        <div class="card" style="width:300px">
          <img class="card-img-top" src="assets/image/4.jpg" alt="">
          <div class="card-body">
            <h4 class="card-title">Tout est illuminé   </h4>
            <p class="card-text">Tout est illuminé raconte les aventures en Ukraine d'un jeune écrivain juif américain – Jonathan Safran Foer – en quête de ses origines.
                Guidé par un adolescent quasi illettré, Alex, un vieillard et un chien, il sillonne la région à la recherche d'un mystérieux village détruit par les nazis en 1941.</p>
            <a href="#" class="btn btn-primary">Acheter</a>
          </div>
        </div>
        <div class="card" style="width:300px">
          <img class="card-img-top" src="assets/image/5.jpg" alt="">
          <div class="card-body">
            <h4 class="card-title">L'Enfant de Lumières </h4>
            <p class="card-text">Fin des années 30, Maurice est arrivé en France pour fuir le fascisme montant en Italie. Il rencontre Lucie dans un tout petit village du Luberon,
                 Notre Dame de Lumières, et décide de construire sa vie avec elle. En parallèle, Fernand Notin est l'héritier d'une tradition familiale de maître-confiseur. Sa jeune épouse, Clémence, va rapidement s'imposer comme la clé de la future réussite de la fabrique. Jusqu'à ce que la Seconde Guerre mondiale bouleverse l'ordre établit.</p>
            <a href="#" class="btn btn-primary">Acheter</a>
          </div>
        </div>
        <div class="card" style="width:100px">
          <img class="card-img-top" src="assets/image/6.jpg" alt="">
          <div class="card-body">
            <h4 class="card-title">La Demoiselle</h4>
            <p class="card-text">Sur ce causse écarté de la région de Mende, l'hiver isole de longs mois la ferme de Chaumette. L'été, il faut lutter contre la sécheresse.
                 Sur ce plateau désolé vit, avec valets et servantes, la famille Combres, des paysans aisés</p>
            <a href="#" class="btn btn-primary">Acheter</a>
          </div>
        </div>
      </div>
