<!--
    action bar in breadcrumb
    https://coreui.io/docs/components/bootstrap/breadcrumb/
    https://getbootstrap.com/docs/4.0/utilities/position/
    see also styles.scss .c-subheader.sticky-top
-->
<div class="c-subheader sticky-top justify-content-between px-3 c-header-shadow">
    <ol class="breadcrumb border-0 m-0 px-0 px-md-3">
        <li class="breadcrumb-item" aria-current="page">Acceuil</li>
        <li class="breadcrumb-item"><a routerLink="/equipe">Membre d'Equipe</a></li>
        <li class="breadcrumb-item"><a routerLink="/categorie">Catégorie</a></li>
        <li class="breadcrumb-item"><a routerLink="/contact">Contact</a></li>
        <li class="breadcrumb-item"><a routerLink="/panier">Panier</a></li>




    </ol>

    <!-- Breadcrumb Menu-->
    <div class="c-subheader-nav">
        <div class="btn-group" role="group">

            <a href="" class="btn btn-info btn-lg">
                <span class="glyphicon glyphicon-log-out">    <a class="btn" href="#" > <i class="cil-account-logout">Deconnexion </i></a> </span>

              </a>
            <!-- https://coreui.io/docs/components/bootstrap/icons/#coreui-icons-free-502-icons -->
        </div>
    </div>
</div>
<main class="c-main">

    <div class="container-fluid">
        <div style="text-align:center">
            <div style="text-align:center " >
                <h1>SMART BOOK STORE</h1><br>
                <div class="container">
                    <div id="carousel">
                        <figure><img src="assets/image/1.jpg"></figure>
                        <figure><img src="assets/image/2.jpg"></figure>
                        <figure><img src="assets/image/3.jpg"></figure>
                        <figure><img src="assets/image/4.jpg"></figure>
                        <figure><img src="assets/image/10.jpg"></figure>
                        <figure><img src="assets/image/5.jpg"></figure>
                        <figure><img src="assets/image/6.jpg"></figure>
                        <figure><img src="assets/image/7.jpg"></figure>
                        <figure><img src="assets/image/8.jpg"></figure>
                    </div>
                </div>
            <figure class="text-center">


              </figure>

              </div>



     </div>


