
  <div class="panel panel-primary">
    <div class="panel-heading">
      <h2 style="text-align: center">List Lecteurs</h2>
    </div>
    <div class="panel-body">
      <div class="form-group">
      <button (click)="ajouter()" mat-flat-button color="primary" style="width:50%; height:100%">Ajouter lecteur </button>
      </div>


      <table class="table table-hover">
        <thead>
          <tr>
            <th scope="col">Cin</th>
            <th scope="col">Nom</th>
            <th scope="col">Prenom</th>
            <th scope="col">Password</th>
            <th scope="col">Login</th>
            <th scope="col">Email</th>
            <th scope="col">Adresse</th>
            <th scope="col">Telephone</th>


          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let u of Lecteur">
            <td>{{u.cin}}</td>
            <td>{{u.nom}}</td>
            <td>{{u.prenom}}</td>
            <td>{{u.password}}</td>
            <td>{{u.login}}</td>
            <td>{{u.email}}</td>
            <td>{{u.adresse}}</td>
            <td>{{u.telephone}}</td>
            <td>
                <td><button (click)="deleteLecteur(u.cin)" class="btn btn-danger">Delete</button>
                    <button (click)="toUpdate(u.cin)" class="btn btn-info" style="margin-left: 10px">Update</button>
            </td>

          </tr>

        </tbody>
      </table>



    </div>
  </div>

